<div class="row" #experiencias>
    <div class="col-lg-12">  
        <h1><app-add [mode]="'Experiencia'"></app-add>Experiencia laboral</h1>
    </div>
    <div class="col-12" *ngIf="experiencia.length === 0">
        <h1>Loading...</h1>
    </div>
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Expe of experiencia">
                    <td>
                        <h4>{{Expe.nombre}}</h4>
                        <app-edit [mode]="'Experiencia'" [idComponent]="Expe.id" ></app-edit>
                        <app-delete [mode]="'Experiencia'" [idComponent]="Expe.id" ></app-delete>
                    </td>
                    <td>
                       <p>{{Expe.descripcion}}</p>                     
                    </td>
                    <td>
                        <p>Durante {{Expe.duracion}} años</p>                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>