<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-12 col-lg-2 col-xl-2">
                <div class="card text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-left">
                    <app-go *ngFor="let Cat of categorias" [mode]="Cat" [route]="'/lista'" 
                    [name]="Cat" [idComponent]="0" [other]="config['other']"></app-go>
                    
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                <div class="card text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2">Lista de {{config['mode']}}s</h2> 
                            <h2 class="fw-bold mb-2" *ngIf="showAll">de todos los Usuarios</h2>
                            <app-add [mode]="config['mode']"></app-add>
                            <div *ngFor="let Mod of model">
                                <div class="bg-secondary">
                                    <h5 class="fw-bold mb-2 text-uppercase" *ngIf="config['mode'] != 'Social'">{{Mod.nombre}}</h5>
                                    <h5 class="fw-bold mb-2 socialIco" *ngIf="config['mode'] == 'Social'">{{Mod.nombre}}</h5>
                                    <app-edit [mode]="config['mode']" [idComponent]="Mod.id"></app-edit>
                                    <app-delete [mode]="config['mode']" [idComponent]="Mod.id"></app-delete>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>