<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">{{config['mode']}}</h2>
                            <form (ngSubmit)="Enviar()" novalidate #f="ngForm">
                                <div *ngFor="let key of object.keys(model)">
                                    <div class="form-group">
                                        <label for="{{key}}">{{key}}</label>
                                        
                                        <input type="{{inputType(key)}}" class="form-control" id="{{key}}" name="{{key}}"
                                            [(ngModel)]="model[key]" required *ngIf="elementType(key) == 'input'">
                                            
                                            <select class="social" id="{{key}}" name="{{key}}" class="social"
                                                *ngIf="elementType(key) == 'select'" [(ngModel)]="model[key]" required>
                                                <option *ngFor="let Char of chars" [ngValue]="Char" [selected]="Char===model[key]">{{Char}}</option>
                                            </select>                             
                                    </div>
                                    <br>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">¡Listo!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>