<div class="row" #educaciones>
      <div class="col-12">
        <h1><app-add [mode]="'Educacion'"></app-add>Educacion</h1>
    </div>

    <div class="col-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let educ of educacion">
                    <td>
                        <h4>{{educ.nombre}}</h4>
                        <app-edit [mode]="'Educacion'" [idComponent]="educ.id"></app-edit>
                        <app-delete [mode]="'Educacion'" [idComponent]="educ.id" ></app-delete>
                    </td>
                    <td>
                        <p>{{educ.descripcion}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>